.App {
  font-family: sans-serif;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 3.5rem;
  margin-bottom: 4.5rem;
}

.left-input {
  border-right: none !important;
}
.right-input {
  border-left: none !important;
}

.fit-content {
  height: fit-content;
}
/** Mobile or SM Styles **/
@media only screen and (max-width: 640px) {
  body {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.inverted-border-b:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: #e5e5e5;
  top: calc(100%);
}
