.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropdown-content {
  display: none;
  top: 65%;
  z-index: 10;
  transform: translate(-25%, 0);
}

.task-list .card-task-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.z-neg-10 {
  z-index: -10;
}

.sidenav {
  height: calc(100vh - 3.5rem);
}
.content-wrapper {
  margin-left: 230px;
}
