.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropdown-content {
  display: none;
  top: 65%;
  z-index: 10;
  transform: translate(-25%, 0);
}

.task-list .card-task-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.z-neg-10 {
  z-index: -10;
}

.sidenav {
  height: calc(100vh - 3.5rem);
}
.content-wrapper {
  margin-left: 230px;
}

.header .nav-link:after {
  content: "";
  display: none;
}

.header .nav-link:hover .divider:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
}

.header .task-navigation .nav-link:hover .divider:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 100%;
  width: 2px;
  height: 100%;
  background: inherit;
}
