body {
  margin: 0;
}
.welcome {
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/welcome.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.anim-text {
  animation-name: skew-in;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  font-style: italic;
  text-decoration: underline;
}
@keyframes skew-in {
  0% {
    text-decoration: underline;
  }

  50% {
    text-decoration: none;
  }

  100% {
    text-decoration: none;
  }
}
